
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: white;
}


header {
    background-color: #121212;
    padding: 20px;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header h1 {
    color: #ff4444;
    font-size: 2rem;
}

header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header ul li {
    display: inline;
}

header ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

header ul li a:hover, .active {
    color: #ff4444;
}


.contact {
    text-align: center;
    padding: 50px 20px;
    background-color: #222;
    border-radius: 10px;
    max-width: 600px;
    margin: 100px auto 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.contact h2 {
    font-size: 2.5rem;
    color: #ff4444;
    margin-bottom: 20px;
}

.contact-info {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.contact-info p a {
    color: #ff4444;
    text-decoration: none;
}

.contact-info p a:hover {
    text-decoration: underline;
}

.notice {
    font-size: 1rem;
    color: #bbb;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #121212;
    color: white;
    margin-top: 30px;
}
